* {
  box-sizing: border-box;
}

html {
  height: 150%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  color: rgb(46, 42, 42);
  font-size: 16px;
  text-align: center;
  background-image: #fff;
  font-family: "Open Sans", sans-serif;
  margin-top: 3rem;
}

.attendees {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 90%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 1.5em;
}

.hide {
  display: none;
}

header {
  width: 100%;
}

